<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Password Service</title>
    <meta name="description" content="Accounting For the Use of the Password Generator">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body class="d-flex flex-column h-100">
    <div class="container">
        <div class="row mt-3" id="header">
            <div class="col-sm-8 header-name">
                <h1>Password Generator Accounting Service</h1>
            </div>

            <div class="col-sm-4 d-flex align-items-center" id="country-selector">
                <label for="country"><strong>Country:</strong></label>
                <select name="country" id="country" class="form-select">
                    <option value="">All Countries</option>
                    <option value="">Ukraine, Taras Hevlich, 441547155</option>
                    <option value="">Poland, Clever Polak, 321453123</option>
                    <option value="">Poland, Kieliszkowski Mateusz, 435123555</option>
                </select>
            </div>
        </div>

        <div class="row" id="sub-header">
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link active">Users</a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'usage' %}" class="nav-link">Generator Usage</a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'countries' %}" class="nav-link">Countries</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row" id="main-content">
            <div class="col-sm-12">
                <div class="alert alert-warning" role="alert">Changes have been cancelled.</div>

                <div class="row" id="table-head">
                    <div class="col-sm-8 my-3"><h2>User Base</h2></div>
                    <div class="col-sm-4"><a href="{% url 'users_add' %}" class="btn btn-primary btn-head my-3" role="button">Add User</a></div>
                </div>

                <div>
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th><a href="#" class="text-decoration-none">№</a></th>
                                <th>Photo</th>
                                <th><a href="#" class="text-decoration-none">Last Name &uarr;</a></th>
                                <th><a href="#" class="text-decoration-none">First Name</a></th>
                                <th>Telegram ID</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><img width="35" height="35" src="../../img/taras_hevlich.png" alt="" class="rounded-circle"></td>
                                <td><a title="Edit" href="{% url 'users_edit' 1 %}" class="text-decoration-none">Hevlich</a></td>
                                <td><a title="Edit" href="{% url 'users_edit' 1 %}" class="text-decoration-none">Taras</a></td>
                                <td>441547155</td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button"
                                                class="btn btn-primary dropdown-toggle"
                                                data-toggle="dropdown">
                                            Action
                                        </button>
                                        <div class="dropdown-menu">
                                            <a href="{% url 'users_edit' 1 %}" class="dropdown-item">Edit</a>
                                            <a href="{% url 'users_usage' 1 %}" class="dropdown-item">Password Generator Usage</a>
                                            <a href="{% url 'users_delete' 1 %}" class="dropdown-item">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>2</td>
                                <td><img width="35" height="35" src="../../img/default.png" alt="" class="rounded-circle"></td>
                                <td><a title="Edit" href="{% url 'users_edit' 2 %}" class="text-decoration-none">Clever</a></td>
                                <td><a title="Edit" href="{% url 'users_edit' 2 %}" class="text-decoration-none">Polak</a></td>
                                <td>321453123</td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button"
                                                class="btn btn-primary dropdown-toggle"
                                                data-toggle="dropdown">
                                            Action
                                        </button>
                                        <div class="dropdown-menu">
                                            <a href="{% url 'users_edit' 2 %}" class="dropdown-item">Edit</a>
                                            <a href="{% url 'users_usage' 2 %}" class="dropdown-item">Password Generator Usage</a>
                                            <a href="{% url 'users_delete' 2 %}" class="dropdown-item">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>3</td>
                                <td><img width="35" height="35" src="../../img/mateusz_kieliszkowski.png" alt="" class="rounded-circle"></td>
                                <td><a title="Edit" href="{% url 'users_edit' 3 %}" class="text-decoration-none">Kieliszkowski</a></td>
                                <td><a title="Edit" href="{% url 'users_edit' 3 %}" class="text-decoration-none">Mateusz</a></td>
                                <td>435123555</td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button"
                                                class="btn btn-primary dropdown-toggle"
                                                data-toggle="dropdown">
                                            Action
                                        </button>
                                        <div class="dropdown-menu">
                                            <a href="{% url 'users_edit' 3 %}" class="dropdown-item">Edit</a>
                                            <a href="{% url 'users_usage' 3 %}" class="dropdown-item">Password Generator Usage</a>
                                            <a href="{% url 'users_delete' 3 %}" class="dropdown-item">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">1</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">2</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">3</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">4</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">5</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer mt-auto py-3 bg-dark">
          <div class="container">
            <span class="text-light">&copy; 2023 Password Generator Accounting Service</span>
          </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>