{% extends 'users/base.html' %}
{% load static %}

{% block meta_title %} Users {% endblock meta_title %}

{% block title %} Users Database {% endblock title %}
{% block add_btn %}
    <div class="col-sm-4"><a href="{% url 'users_add' %}" class="btn btn-primary btn-head my-3" role="button">Add User</a></div>
{% endblock add_btn %}

{% block content %}
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th><a href="#" class="text-decoration-none">№</a></th>
                <th>Photo</th>
                <th><a href="#" class="text-decoration-none">Last Name &uarr;</a></th>
                <th><a href="#" class="text-decoration-none">First Name</a></th>
                <th>Telegram ID</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><img width="35" height="35" src="{% static user.image %}" alt="" class="rounded-circle"></td>
                    <td><a title="Edit" href="{% url 'users_edit' user.id %}" class="text-decoration-none">{{ user.last_name }}</a></td>
                    <td><a title="Edit" href="{% url 'users_edit' user.id %}" class="text-decoration-none">{{ user.first_name }}</a></td>
                    <td>{{ user.telegram_id }}</td>
                <td>
                    <div class="dropdown">
                        <button type="button"
                                class="btn btn-primary dropdown-toggle"
                                data-toggle="dropdown">
                            Action
                        </button>
                        <div class="dropdown-menu">
                            <a href="{% url 'users_edit' user.id %}" class="dropdown-item">Edit</a>
                            <a href="{% url 'users_usage' user.id %}" class="dropdown-item">Password Generator Usage</a>
                            <a href="{% url 'users_delete' user.id %}" class="dropdown-item">Delete</a>
                        </div>
                    </div>
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block pagination %}
    {% include "users/pagination.html" %}
{% endblock pagination %}

{#{% block footer %} {% endblock footer %}#}